h1{
    color:aqua;
}
h2{
  color:aqua;
}
section{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: 100px 100px;
    grid-gap: 50px;
    margin: 50px;
    width: 100em;
}
p.target{
    border: 5px solid blue;
    padding: 30px;
    margin: 50px;
    width: 200px;
    height: 150px;
    background: orange;
  }
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    color:rgb(8, 8, 8)
  }
  
  body {
    width: 80em;
    margin: 0 auto;
  }
  
  /* Typography */
  
  h1 {
    font-size: 4.5em;
  }
  
  h2 {
    font-size: 3em;
  }
  
  pli {
    font-size: 2em;
  }
  
  /*+++ more specific section styles +++*/
  
  /* header and footer */
  
  header {
    background-color: rgb(128, 0, 17);
    height: 10em;
    padding: -20em;
    
  }
  
  h1, footer p {
    margin: 40px;
  }
  
  h1 {
    text-align: center;
    padding: 0.5em;
  }
  
  /* main content */
  
  main {
    padding: 2em;
  }
  
  main p, main li {
    line-height: 2;
  }
  
  img {
    float: right;
    margin :1.2px 0 2px 0;
  }
  h3 {
    font-size: 2.7em;
  }