div#placeholder {
	display: grid; 
	grid-template-columns: 1fr 1fr;
    grid-template-rows: 325px 325px;
    width: 650px;
	grid-gap: 30px;
}

div.faceAndName {
	border: 1px solid #efefef;
}

div.faceAndName p {
	text-align: center;
}

div.faceAndName img {
	display: block;
	width: 100%;
}
